html,
body {
  height: 100%;
}
body {
  background-image: url("../images/babyname.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#btn {
  background-color: #338c9d;
  border: none;
}
.form-check-input:checked {
  background-color: #338c9d;
  border: none;
}
#akanName,
#day {
  color: #338c9d;
  font-weight: bold;
  font-size: 36px;
}
